<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatWithQA</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="center">
      <h1 id="welcome">
        <span class="char1">W</span>
        <span class="char2">e</span>
        <span class="char3">l</span>
        <span class="char4">c</span>
        <span class="char5">o</span>
        <span class="char6">m</span>
        <span class="char7">e</span>
        <span class="char8"> </span>
        <span class="char9">T</span>
        <span class="char10">o</span>
        <span class="char11"> </span>
        <span class="char12">E</span>
        <span class="char13">d</span>
        <span class="char14">u</span>
        <span class="char15">-</span>
        <span class="char16">T</span>
        <span class="char17">e</span>
        <span class="char18">c</span>
        <span class="char19">h</span>
        <span class="char20"> </span>
        <span class="char21">R</span>
        <span class="char22">e</span>
        <span class="char23">g</span>
        <span class="char24">i</span>
        <span class="char25">s</span>
        <span class="char26">t</span>
        <span class="char27">r</span>
        <span class="char28">a</span>
        <span class="char29">t</span>
        <span class="char30">i</span>
        <span class="char31">o</span>
        <span class="char32">n</span>
      </h1>
      <img id="female1" src="../static/img/female1.jpg" alt="img1" />
      <h1>Let Me Help You For the Registration!</h1>
      <form action="{{ url_for('question', question_number=1) }}" method="post">
        <button type="submit" class="btn" id="first_btn">Start The Registration</button>
      </form>
    </div>
  </body>
</html>
